@inject DataAccessLayer.DataContext deneme


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>Admin Panel</title>

    <!-- Bootstrap -->
    <link href="/admin/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/admin/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/admin/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="/admin/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/admin/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="/admin/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/admin/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="/img/benim.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Hoşgeldiniz</span>
                            <h2>Emin Susam</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a asp-controller="AdminCategory" asp-action="Category"><i class="fa fa-edit"></i> Kategoriler </a>
                                </li>

                                <li>
                                    <a asp-controller="AdminProduct" asp-action="AllProduct"><i class="fa fa-edit"></i> Ürünler </a>
                                </li>

                                <li>
                                    <a><i class="fa fa-table"></i> Tablolar <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">

                                        @foreach (var item in deneme.Category)
                                        {
                                          <li><a href="/Admin/AdminProduct/Product/@item.ID">@item.Title</a></li>
                                        }
                      

                                    </ul>
                                </li>
                               
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" asp-controller="Home" asp-action="LogOut">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="/img/benim.jpg" alt="">Emin Susam
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="Home" asp-action="LogOut"><i class="fa fa-sign-out pull-right"></i> Çıkış Yap</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                               
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                 
                                  
                                    <li class="nav-item">
                                        <div class="text-center">
                                            <a class="dropdown-item">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            @RenderBody()
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="/admin/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/admin/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="/admin/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/admin/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/admin/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/admin/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/admin/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/admin/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/admin/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/admin/Flot/jquery.flot.js"></script>
    <script src="/admin/Flot/jquery.flot.pie.js"></script>
    <script src="/admin/Flot/jquery.flot.time.js"></script>
    <script src="/admin/Flot/jquery.flot.stack.js"></script>
    <script src="/admin/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/admin/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/admin/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/admin/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/admin/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/admin/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/admin/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/admin/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/admin/moment/min/moment.min.js"></script>
    <script src="/admin/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="/admin/jquery.validate.min.js"></script>
    <script src="/admin/jquery.validate.unobtrusive.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/admin/custom.min.js"></script>
    @RenderSection("customScripts", required:false);

</body>
</html>


