
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="~/img/resim1.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="border-start border-5 border-primary ps-5 mb-5">
                    <h6 class="text-primary text-uppercase">Hakkımızda</h6>
                    <h1 class="display-5  mb-0">Üstün özellik ve teknolojilerle dolu macera sizi bekliyor</h1>
                </div>
                <div class="bg-light p-5 mt-5">
                    <ul class="nav nav-pills justify-content-between mt-" id="pills-tab" role="tablist">
                        <li class="nav-item w-50" role="presentation">
                            <button class="nav-link text-uppercase w-100 active" id="pills-1-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1"
                                    aria-selected="true">
                                Misyonumuz
                            </button>
                        </li>
                        <li class="nav-item w-50" role="presentation">
                            <button class="nav-link text-uppercase w-100" id="pills-2-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2"
                                    aria-selected="false">
                                Vizyonumuz
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                            <p class="mb-0"> Müşterilerimize mümkün olan en düşük fiyatları, mevcut en iyi seçimi ve en yüksek rahatlığı sunmaya çalışıyoruz. Yeni bir gelecek yaratarak insanların hayatlarını zenginleştiren ve toplumsal refaha katkıda bulunan yenilikçi teknolojilerimiz, ürünlerimiz ve tasarımlarımızla dünyaya ilham vermek.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                            <p class="mb-0">Müşterilerin çevrimiçi olarak satın almak isteyebilecekleri her şeyi bulabilecekleri ve keşfedebilecekleri, dünyanın en müşteri odaklı şirketi olmak.İnsanlar, arkadaşları ve aileleriyle bağlantıda kalmak, dünyada neler olup bittiğini keşfetmek ve kendileri için önemli olan şeyleri paylaşmak ve ifade etmek için Facebook’u kullanıyor.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

